<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LisansTezi.Properties.Settings.lisansteziConnectionString"
            connectionString="Data Source=DESKTOP-UCJU2B4\SQLEXPRESS;Initial Catalog=lisanstezi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LisansTezi.Properties.Settings.tezConnectionString"
            connectionString="Data Source=DESKTOP-UCJU2B4\SQLEXPRESS;Initial Catalog=tez;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LisansTezi.Properties.Settings.tez_v2ConnectionString"
            connectionString="Data Source=SERKAN\SQLEXPRESS;Initial Catalog=tez_v2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LisansTezi.Properties.Settings.tezConnectionString1"
            connectionString="Data Source=OEM\SQLEXPRESS;Initial Catalog=tez;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>